
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #0F1526;
    font-family: "Poppins";
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
}

:root{
    --cor_pequenosDetalhes: #D9D9D9;
    --cor_fundo: #0F1526;
    --cor_tagTitulos: #90CAF9;
    --cor_tagTexto_Objeto: #DF9041;
}

#cabecalho{
    width: 100vw;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navegacao{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    padding: 15px;
}

.navegacaoStyle{
    color: var(--cor_pequenosDetalhes);
    font-size: 1.5rem;
    font-weight: 500;
    padding: 10px;
}

.navegacaoStyle:hover{
    background-color: var(--cor_fundo);
    color: var(--cor_tagTitulos);
    border-bottom: 2px solid var(--cor_tagTitulos);
}

a{
    text-decoration: none;
}
/* ------------------------------ FIM CABEÇALHO */


.medida{
    width: 100vw;
    height: 650px;
    border: 1px solid white;
}

.tituloCentralizado{
    width: 100vw;
    margin-top: 10px;
    color: var(--cor_tagTitulos);
    align-items: center;
    justify-content: center;
    display: flex;
    
}

.tituloCentralizado h1{
    border-bottom: 2px solid var(--cor_pequenosDetalhes);
    font-size: 4rem;
}
/* ------------------------------ FIM MEDIDA & TITULO CENTRALIZADO */


#box_inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#inicio{
    width: 900px;
    height: fit-content;
    border: 1px solid white;
    color: var(--cor_tagTitulos);
    font-size: 3.3rem;
}

#inicio_bottom{
    width: 900px;
    height: fit-content;
    border: 1px solid white;
}

#inicio_bottom p{
    color: var(--cor_tagTexto_Objeto);
    font-size: 2rem;
    font-weight:400;
}

.white{
    color: white;
}
/* ------------------------------ FIM INICIO */


#sobreMim{
    width: 100vw;
    border: 1px solid white;
    display: flex;
    height: 450px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}

#texto{
    width: 90%;
    height: 370px;
    border: 1px solid red;
}
/* ------------------------------ FIM SOBRE MIM */


#habilidades{
    width: 100%;
    border: 1px solid white;
    display: flex;
    height: 450px;
    justify-content: space-evenly;
    align-items: center;
}

.cardSkill{
    width: 300px;
    height: 300px;
    border: 1px solid var(--cor_tagTexto_Objeto);
    transition: 0.3s;
    border-radius: 15px 15px 0px 0px;
}

.cardSkill:hover{
    margin-bottom: 30px;
    transition: 0.4s;
}

.tituloHabilidades{
    width: 100%;
    height: 50px;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--cor_tagTexto_Objeto);
    font-weight: bold;
    background-color: var(--cor_pequenosDetalhes);
    color: var(--cor_fundo);
}
/* ------------------------------ FIM HABILIDADES */


#redes{
    width: 100vw;
    border: 1px solid white;
    display: flex;
    height: 400px;
    justify-content: space-evenly;
    align-items: center;
}

.blocoRede{
    width: 300px;
    height: 300px;
    border: 1px solid var(--cor_tagTexto_Objeto);
    border-radius: 19px;
    background-color: rgba(128, 128, 128, 0.342);
    transition: 0.3s;
}

.blocoRede:hover{
    background-color: transparent;
    transition: 0.3s;
    cursor: pointer;
}

.blocoRede:hover .tituloRedes{
    border-bottom: 1px solid var(--cor_tagTexto_Objeto);
    color: var(--cor_tagTexto_Objeto);
}

.tituloRedes{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid var(--cor_fundo);
    border-radius: 19px 19px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
/* ------------------------------ FIM REDES */



@media screen and (max-width:480px){
    #cabecalho{
        width: 100vw;
        height: 50px;
        border: 1px solid red;
    }

    #navegacao{
        width: 100%;
    }
    
    .navegacaoStyle{
        font-size: 0.9rem;
    }

    /* ------------------------------ FIM CABEÇALHO TELEFONE */


    .tituloCentralizado h1{
        font-size: 2rem;
    }
    /* ------------------------------ FIM MEDIDA & TITULO CENTRALIZADO TELEFONE */


    #inicio{
        font-size: 1.3rem;
        width: fit-content;
    }

    #inicio_bottom{
        width: fit-content;
    }

    #inicio_bottom p{
        font-size: 1.2rem;
    }
    /* ------------------------------ FIM INICIO TELEFONE*/


    #sobreMim{
        margin-top: 10px;
        height: 560px;
    }

    #texto{
        height: 500px;
    }
    /* ------------------------------ FIM SOBRE MIM TELEFONE */


    #habilidades{
        flex-direction: column;
        height: 500px;
        margin-top: 50px;
    }

    .cardSkill{
        width: 300px;
        height: 100px;
    }

    .cardSkill:hover{
        margin-bottom: 0px;
    }
    /* ------------------------------ FIM HABILIDADES TELEFONE*/


    #redes{
        flex-direction: column;
    }

    .blocoRede{
        width: 350px;
        height: 100px;
    }
}


