
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css');
/* icone do linkedin */

@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css');
/* icone GitHub */

body{
    background-color: #0F1526;
    font-family: "Poppins";
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
}

:root{
    --cor_pequenosDetalhes: #D9D9D9;
    --cor_fundo: #0F1526;
    --cor_tagTitulos: #90CAF9;
    --cor_tagTexto_Objeto: #DF9041;
}

header{
    width: 100vw;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
}

#navegacao{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    padding: 15px;
    border: 1px solid red;
}

.navegacaoStyle{
    color: var(--cor_pequenosDetalhes);
    font-size: 1.5rem;
    font-weight: 500;
    padding: 10px;
    border: 1px solid red;
}

.navegacaoStyle:hover{
    background-color: var(--cor_fundo);
    color: var(--cor_tagTitulos);
    border-bottom: 2px solid var(--cor_tagTitulos);
}

a{
    text-decoration: none;
}
/* ------------------------------ FIM CABEÇALHO */


.medida{
    width: 100%;
    height: 650px;
    /* border: 1px solid white; */
}

.tituloCentralizado{
    width: 100%;
    margin-top: 10px;
    color: var(--cor_tagTitulos);
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid red;
    
}

.tituloCentralizado h1{
    border-bottom: 2px solid var(--cor_pequenosDetalhes);
    font-size: 4rem;
    border: 1px solid red;
}
/* ------------------------------ FIM MEDIDA & TITULO CENTRALIZADO */


#box_inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    border: 1px solid red;
}

#inicio{
    width: 900px;
    height: fit-content;
    color: var(--cor_tagTitulos);
    font-size: 3.3rem;
    border: 1px solid red;
}

#inicio_bottom{
    width: 900px;
    height: fit-content;
    color: var(--cor_tagTexto_Objeto);
    font-size: 2rem;
    font-weight:400;
    border: 1px solid red;
}


.white{
    color: white;
}
/* ------------------------------ FIM INICIO */

#box_sobreMim{
    width: 100vw;
    border: 1px solid red;
}

#sobreMim{
    width: 100vw;
    display: flex;
    height: 450px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    border: 1px solid red;
}

#texto{
    width: 50%;
    height: 300px;
    border: 2px solid var(--cor_tagTexto_Objeto);
    padding: 5px;
    border-radius: 16px;
    background-color: rgba(128, 128, 128, 0.185);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    color: var(--cor_pequenosDetalhes);
    border: 1px solid red;
}

#fotoPerfil{
    width: 300px;
    height: 300px;
    border: 3px solid var(--cor_tagTexto_Objeto);
    background-image: url(image/perfil_0.1.jpg);
    background-size: cover;
    border-radius: 50%;
    border: 1px solid red;
}
/* ------------------------------ FIM SOBRE MIM */

#box_habilidades{
    width: 100vw;
    border: 1px solid red;
}

#habilidades_mobile{
    display: none;

}

#habilidades{
    width: 100vw;
    display: flex;
    height: 450px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    border: 1px solid red;
}

.cardSkill{
    width: 300px;
    height: 300px;
    border: 1px solid var(--cor_tagTexto_Objeto);
    transition: 0.3s;
    border-radius: 15px 15px 0px 0px;
    border: 1px solid red;
}

.listado{
    width: 100%;
    height: 82%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--cor_tagTexto_Objeto);
    border: 1px solid red;
}

.cardSkill:hover{
    margin-bottom: 30px;
    transition: 0.4s;
}

.tituloHabilidades{
    width: 100%;
    height: 50px;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--cor_tagTexto_Objeto);
    font-weight: bold;
    background-color: var(--cor_pequenosDetalhes);
    color: var(--cor_fundo);
    border: 1px solid red;
}
/* ------------------------------ FIM HABILIDADES */

#box_redes{
    width: 100vw;
    border: 1px solid red;
}

#redes{
    width: 100vw;
    display: flex;
    height: 450px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    border: 1px solid red;
}

.blocoRede{
    width: 300px;
    height: 300px;
    border: 1px solid var(--cor_pequenosDetalhes);
    border-radius: 19px;
    background-color: var(--cor_fundo);
    transition: 0.3s;
    border: 1px solid red;
}

.blocoRede:hover{
    border: 1px solid var(--cor_tagTexto_Objeto);
    transition: 0.3s;
    cursor: pointer;
}


.tituloRedes{
    width: 100%;
    height: 50px;
    border-radius: 19px 19px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--cor_pequenosDetalhes);
    font-weight: bold;
    background-color: var(--cor_pequenosDetalhes);
    color: var(--cor_fundo);
    transition: 0.4s;
    border: 1px solid red;
}

.blocoRede:hover .tituloRedes{
    background-color: var(--cor_fundo);
    border-bottom: 1px solid var(--cor_tagTexto_Objeto);
    color: var(--cor_tagTexto_Objeto);
    transition: 0.4s;
}

.imagens{
    height: 247px;
    border-radius: 0px 0px 19px 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7rem;
    color: var(--cor_pequenosDetalhes);
    transition: 0.4s;
    border: 1px solid red;
}

.blocoRede:hover .imagens{
    color: var(--cor_tagTexto_Objeto);
    transition: 0.4s;
}

/* ------------------------------ FIM REDES */



@media screen and (max-width:480px){
    #cabecalho{
        width: 100vw;
        height: 50px;
        /* border: 1px solid red; */
    }

    #navegacao{
        width: 100%;
    }
    
    .navegacaoStyle{
        font-size: 0.9rem;
    }

    /* ------------------------------ FIM CABEÇALHO TELEFONE */

    .tituloCentralizado h1{
        font-size: 2rem;
        margin-top: 50px;
    }
    /* ------------------------------ FIM MEDIDA & TITULO CENTRALIZADO TELEFONE */

    #box_inicio{
        height: 500px;
    }

    #inicio{
        font-size: 1.3rem;
        width: fit-content;
    }

    #inicio_bottom{
        width: fit-content;
        font-size: 1.2rem;
    }
    /* ------------------------------ FIM INICIO TELEFONE*/
    #box_sobreMim{
        height: 750px;
    }

    #sobreMim{
        margin-top: 20px;
        height: 560px;
        flex-direction: column;
    }

    #texto{
        height: 200px;
        width: 300px;
        font-size: 0.8rem;
    }

    #fotoPerfil{
        width: 250px;
        height: 250px;
    }
    /* ------------------------------ FIM SOBRE MIM TELEFONE */

    #habilidades{
        display: none;
    }

    #box_habilidades{
        height: 750px;
    }

    #habilidades_mobile{
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        width: 100%;
        height: 550px;
        border: 1px solid red;
    }

    .cardSkill_mobile{
        width: 80%;
        height: 120px;
        margin-bottom: 25px;
        border: 1px solid var(--cor_tagTexto_Objeto);
        border-radius: 15px 15px 0px 0px;
    }

    .listado_mobile{
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-weight: 500;
        color: var(--cor_tagTexto_Objeto);
    }

    /* ------------------------------ FIM HABILIDADES TELEFONE*/

    #box_redes{
        height: 750px;
    }

    #redes{
        flex-direction: column;
        justify-content: space-evenly;
        height: 500px;
        margin-top: 20px;
    }

    .blocoRede{
        width: 200px;
        height: 200px;
    }
    
    .imagens{
        height: 150px;
        font-size: 5rem;
    }
    /* ------------------------------ FIM REDES TELEFONE*/
}


