
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #0F1526;
    font-family: "Poppins";
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
}

:root{
    --cor_fundo: #0F1526;
    --cor_tagTitulos: #1E2040;
    --cor_tagTextoInside:white;
}


#cabecalho{
    width: 100vw;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navegacao{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    padding: 15px;
}

.navegacaoStyle{
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 10px;
    border-bottom: 2px solid var(--cor_tagTitulos) ;
    transition: 0.2s;
}

.navegacaoStyle:hover{
    background-color: white;
    color: var(--cor_tagTitulos);
    transition: 0.4s;
}

a{
    text-decoration: none;
}
/* ------------------------------ FIM CABEÇALHO */

.medida{
    width: 100vw;
    height: 650px;
    border: 1px solid white;
}

.tituloCentralizado{
    width: 100vw;
    margin-top: 10px;
    color: var(--cor_tagTextoInside);
    align-items: center;
    justify-content: center;
    display: flex;
    
}

.tituloCentralizado h1{
    border-bottom: 2px solid var(--cor_tagTitulos);
    font-size: 4rem;
}
/* ------------------------------ FIM MEDIDA & TITULO CENTRALIZADO */


#inicio{
    width: 700px;
    height: fit-content;
    border: 1px solid white;
    margin-top: 90px;
    margin-left: 90px;
}

#inicio h1:nth-of-type(2){
    color: white;
    font-size: 4rem;
    margin-left: 90px;
}

#inicio h1:nth-of-type(1){
    color: var(--cor_tagTitulos);
    font-size: 3rem;
}

#inicio h1:nth-of-type(3){
    color: var(--cor_tagTitulos);
    font-size: 3rem;
}


#inicio_bottom{
    width: 700px;
    height: fit-content;
    border: 1px solid white;
    margin-left: 90px;
}

#inicio_bottom p{
    color: white;
    font-size: 1.5rem;
    margin-left: 90px;
}

#inicio_bottom h1{
    color: var(--cor_tagTitulos);
}
/* ------------------------------ FIM INICIO */


#habilidades{
    width: 100vw;
    border: 1px solid white;
    display: flex;
    height: fit-content;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
}





#redes{
    width: 100vw;
    border: 1px solid white;
    display: flex;
    height: fit-content;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.blocoRede{
    width: 400px;
    height: 400px;
    border: 1px solid white;
    border-radius: 19px;
    background-color: rgba(128, 128, 128, 0.342);
    transition: 0.3s;
}

.blocoRede:hover{
    background-color: transparent;
    transition: 0.3s;
    cursor: pointer;
}


